doctype
html
  include ./components/head.jade
  body
    include ./components/nav.jade
    .outer-container
      != yield
    script(type="text/babel" src="/app.js")
    include ./components/footer.jade
    
