h1.headline.type-regular.type-epsilon.red.med-top-margin Order Start
h2.text.type-regular.type-delta.blue.lrg-btm-margin Something something something.

.row
  .lrg-4.lrg-push-4.sml-12.sml-btm-margin
    p.text.type-gamma Delivery for: 
    a(href="#" class="red") right now
.row
  a(href="/order")
    button.lrg-4.sml-12.lrg-push-4.bg-red.center.headline.text-400.type-delta.sml-pad.white.border-none Make it
.row
  a(href="/confirm")
    button.lrg-4.border-red.red.center.headline.text-400.type-delta.sml-pad Reorder
