.tile {
  height: 8.3333333333em;
  border: 1px solid $mid-gray;
  float: left;
  @include media(min-width $lrg-screen){
    @include omega(3n);
  }
  @include media(min-width $med-screen max-width $lrg-screen){
    @include omega(4n);
  }
  -webkit-transition: all 0.15s ease-out;
  &:hover {
    color: $red;
    border: 1px solid $red
  }
}
