//Patterns and styles used across the whole app
@import 'neat/neat';
@import 'utilities/colors';
@import 'utilities/type';
@import 'utilities/layout';

//Component styles
@import 'components/nav';
@import 'components/footer';
@import 'components/tile';

html {
  background-color: $lgt-gray;
}

body {
  color: $blue;
}
//
// h1 {
//   &:hover {
//     color: darken($red, 10%);
//   }
// }

button, .tile {
  border-radius: 2px;
}
