//Basic, broad styles used across the whole app
@import 'neat/neat';
@import 'utilities/layout';
@import 'utilities/colors';
@import 'utilities/type';

//More granular styles
@import 'patterns/borders';

//Component-specific styles
@import 'components/nav';
@import 'components/footer';
@import 'components/tile';

html {
  background-color: $lgt-gray;
}

body {
  color: $blue;
}
//
// h1 {
//   &:hover {
//     color: darken($red, 10%);
//   }
// }

button, .tile {
  border-radius: 2px;
}

input[type="range"]{
  height: 0.555em;
  border-radius: 1em;
}
