//Set color variables
$red: #FF0048;
$blue: #425062;
$lgt-blue: #6982A2;
$lgt-gray: #FAFAFA;
$mid-gray: #E6E6E6;
$white: #FFFFFF;

//Color classes
.red {
  color: $red;
}

.bg-red {
  background-color: $red;
  -webkit-transition: background-color 0.15s ease-out;
  &:hover {
    background-color: darken($red, 5%);
  }
}

.blue {
  color: $blue;
}

.lgt-blue {
  color: $lgt-blue;
}

.lgt-gray {
  color: $lgt-gray;
}

.mid-gray {
  color: $mid-gray;
}

.bg-mid-gray {
  background-color: $mid-gray;
}

.white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.bg-none {
  background: none;
}
