.row
  h1.headline.type-black.type-omega.red.center.lrg-top-margin Lunch on demand.
  h3.text.type-regular.type-delta.blue.center.sml-top-margin.lrg-btm-margin Get a sandwich whenever you need it.
.row
  a(href="/order")
    button.lrg-4.sml-12.lrg-push-4.bg-red.center.headline.text-400.type-delta.sml-pad.white.border-none Sign in
.row
  p.text.type-regular.type-gamma.center.sml-top-margin.lrg-btm-margin Don't have an account? <a class="red" href="#">Sign up.</a>
